
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_XtremeLayout.cshtml";
}

@section SideBarSection{
    @Html.Partial("_SideBarView")
}

@section HeaderSection{
    @Html.Partial("_HeaderView")
}
<style>
    .mat-table {
        display: block;
        font-family: Tahoma, Verdana;
    }

    .mat-row,
    .mat-header-row {
        display: flex;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        align-items: center;
        min-height: 48px;
        padding: 0 24px;
    }

    .mat-cell,
    .mat-header-cell {
        flex: 1;
        overflow: hidden;
        word-wrap: break-word;
    }
</style>
 
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="pagetitle mb-sm-0 fw600">User Management</h4>
        </div>
    </div>
    <section class="section dashboard mt-3">
        <div class="bg-white rounded p-3 shadow">
            <div class="pb-2">
                <a class="btn form-btn btn-primary hover-boxshadow hover-moveup hover-bg-primarycolor" href="~/OESUsers/AddUsers">  Add New Record</a>
 
 
                <span onclick="exportToPdf('user', 'Please wait. Table is still loading. Click this after table is loaded.')" data-bs-toggle="tooltip" data-bs-placement="right" title="" class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup" data-bs-original-title="You can control what you want to export to PDF before clicking this. For example, if you wish to export all the records, click &quot;Show All&quot; at the drop-down button below before clicking &quot;Export to PDF.&quot;"><i class="fa-solid fa-file-pdf pe-1"></i> Export to Pdf</span>
            </div>
            <div id="user-partialview">
          
                <div id="user-table-wrapper">
                    <div class="table-responsive overflow-auto">
                        <div id="renderImage"></div>
                    </div>
                  
                </div>

               
            </div>
        </div>
    </section>
    <div class="col-12">
        <div class="bg-white rounded p-3 shadow">
            <div id="user-grid">

            </div>
        </div>
    </div>
    <script src="~/Scripts/OESUser/OESUser.js"></script>
 
@section FooterSection{
    @Html.Partial("_FooterView")
}