
@{
    ViewBag.Title = "AddClass";
    Layout = "~/Views/Shared/_XtremeLayout.cshtml";
}

@section SideBarSection{
    @Html.Partial("_SideBarView")
}

@section HeaderSection{
    @Html.Partial("_HeaderView")
}

<div class="col-12">
    <div style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item fw-normal"><a class="color-primarycolor opacity-50" href="~/OESClass/Index">Class Management</a></li>
            <li class="breadcrumb-item fw-normal active">Add Class</li>
        </ol>
    </div>

</div>

<div class="col-12">
    <form action="/services/Xtreme/multipart" method="post" id="frmAddUpdateClass">
        @*<input type="hidden" name="UserId" id="UserId" value="" />*@
        <input type="hidden" name="ClassID" id="ClassID" value="" />

        <input type="hidden" name="type" id="type" value="OES_Add_Class" />
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Name">Name</label>
                            <input class="form-control text-box single-line" required  id="ClassName" maxlength="256" name="ClassName" type="text">
                            <span class="invalid-message field-validation-ivalid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Status">Status</label>
                            @*<input id="Status" name="Status" />*@
                            <select id="Status" name="Status"></select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <a type="button" class="btn form-btn btn-secondary hover-boxshadow me-1" href="~/OESClass/Index">Back To List</a>
                <button type="button" id="btnAddClass" class="btn form-btn btn-primary hover-boxshadow">Save</button>
            </div>
        </div>
    </form>
</div>

 

 
@section FooterSection{
    @Html.Partial("_FooterView")
}
<script src="~/Scripts/OESClass/OESAddClass.js"></script>
