
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_XtremeLayout.cshtml";
}
 
 
@section SideBarSection{
    @Html.Partial("_SideBarView")
}

@section HeaderSection{
    @Html.Partial("_HeaderView")
}
<style>
    .k-grid-content k-auto-scrollable {
        /*height:;*/
    }
</style>

<div class="col-12">
    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
        <h4 class="pagetitle mb-sm-0 fw600">Class Management</h4>
    </div>
</div>
<section class="section dashboard mt-3">
    <div class="bg-white rounded p-3 shadow">
        <div class="pb-2">
            <a class="btn form-btn btn-primary hover-boxshadow hover-moveup hover-bg-primarycolor" href="~/OESClass/AddClass">  Add New Record</a>


            <span onclick="exportToPdf('user', 'Please wait. Table is still loading. Click this after table is loaded.')" data-bs-toggle="tooltip" data-bs-placement="right" title="" class="btn form-btn btn-secondary hover-boxshadow cursor-pointer hover-moveup" data-bs-original-title="You can control what you want to export to PDF before clicking this. For example, if you wish to export all the records, click &quot;Show All&quot; at the drop-down button below before clicking &quot;Export to PDF.&quot;"><i class="fa-solid fa-file-pdf pe-1"></i> Export to Pdf</span>
        </div>
        <div id="user-partialview">

            <div id="user-table-wrapper">
                <div class="table-responsive overflow-auto">
                    <div id="renderImage"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="col-12">
    <div class="bg-white rounded p-3 shadow">
        <div id="employee-grid">

</div>
    </div> 
</div>
<script src="~/Scripts/OESClass/OESClass.js"></script>



@section FooterSection{
    @Html.Partial("_FooterView")
}


@*<script>
    ; debugger
    var _data = [];
    var GetUserProfile = function (d) {

        GlobalAjax({ commandName: APPS_COMMANDS.Get_USER_LOGIN, values: JSON.stringify(""), CallBack: GetMenuByRole });

    }

    var GetMenuByRole = function (d) {
        ; debugger
        var _data = JSON.parse(d.Value);
        console.log(d.Value);

    
    }

    var GridExample1 = function () {
        var initialize = function () {

            var container = $('#tabcontentToAppendCompanys').html('<div></div>');
            var grid = $('div', container);
            var columnOptions;

            columnOptions = [
                //Company_Id, Company_Name, Company_Address, Company_Contact, Company_Email, Company_Status
                {
                    title: " Id", field: "Id", hidden: true, width: "180px",
                },

                { title: " Class Name", field: "ClassName", width: "70%" },

                { title: "Status ", field: "Status", width: "70%" },
             
                {
                    field: "Id", title: "Action", width: "30%", template: '<img src="/images/Pencil-icon.png" title="Edit" alt="Edit" onclick=EditCompany(this) />'
                    //           +
                    //'<a style="color:darkblue;margin: 0px 10px;"" href="/Company/CompanyPayment?zindex=My love is #=Company_Id# Coding so treat me with love"> <i class="fa fa-sort-amount-asc" title="Company Add Payment Detail" style="font-size: 18px;"></i></a>',
                },



            ]




            var gridOptions = {




                dataSource: {
                    transport: {
                        read: {
                            url: GetUserProfile,
                            type: "GET",
                            dataType: "json",
                            data: _data,
                            complete: function () {
                            }
                        }
                    },
                    schema: { data: "data", total: "total" },
                    serverPaging: true,

                    serverSorting: true,
                    serverFiltering: true
                },
                columns: columnOptions,
                //height: 385,
                height: "",

                action: ["maximize"],
                resizable: true,
                scrollable: true,
                columnMenu: true,
                sortable: true,
                serverSorting: true,
                navigatable: true,
                selectable: "row",
                mobile: true,

                pageable: {
                    pageSize: 25,
                    pageSizes: [10, 25, 50, 100, 250],
                    refresh: true,

                    // messages: {
                    //   refresh: "Refresh the grid"
                    // }
                }
            };
            grid.kendoGrid(gridOptions)

                .delegate("tbody>tr", "dblclick", function (e) {

                    //   var projectid = $(this).find('td').eq(0).html();
                    //var issueid = $(this).find('td').eq(1).html();
                    //  var Url = '/ServiceDesk/projectissuelist?projectid=' + projectid + ''
                    // window.location.href = '/ServiceDesk/projectissuelist?projectid=' + projectid + ''
                    // window.open(Url);
                    //  window.open(Url, '_blank');

                });
            grid.kendoGrid(gridOptions)
        };
        var refresh = function () {
            var grid = $('#tabcontentToAppendCompanys>div');
            if (grid.length < 1) {
                return;
            }

            grid.data("kendoGrid").dataSource.read();
        };
        return {
            Initialize: initialize,
            Refresh: refresh
        };
    }();

    $(document).delegate('#tabcontentToAppendCompanys table tbody tr', 'mouseover', function () {
        $(this).css("cursor", "pointer");
    });


    $(document).ready(function () {
        // $(".nav-tabs li").trigger('click');
        GridExample1.Initialize();
    });
</script>*@
