
@{
    ViewBag.Title = "XtremeDashboard";
    Layout = "~/Views/Shared/_XtremeLayout.cshtml";
}

<style>
    .card {
        box-shadow: 3px 7px 4px 0 rgba(0,0,0,.14) !important;
    }
</style>
 
 
    @section SideBarSection{
        @Html.Partial("_SideBarView")
    }

    @section HeaderSection{
        @Html.Partial("_HeaderView")
    }
<div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
            <h4 class="pagetitle mb-sm-0 fw600">Dashboard</h4>
        </div>
    </div>
</div>
<section class="section dashboard mt-3">
    <div class="row justify-content-start align-items-start">
        <div class="col-md-6 col-lg-3">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14" 
                               style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">Total Teacher</p>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="The total number of teachers in the system." aria-label="The total number of teachers in the system."></i></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-27 fw-bold ff-secondary mb-4">31</h4>
                            <a href="/user" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor" style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">View User</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="material-icons" style=" font-size: 49px !important;">
                                manage_accounts
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14"  style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">Total Student</p>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="The total student account in the system." aria-label="The total student account in the system."></i></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-27 fw-bold ff-secondary mb-4">85</h4>
                            <a href="/user" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor"  style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">View User</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="material-icons" style="font-size: 49px !important;">
                                school
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14"  style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">Exam In Progress</p>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="The total exam which are currently still available for the students to start the exam." aria-label="The total exam which are currently still available for the students to start the exam."></i></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-27 fw-bold ff-secondary mb-4">3</h4>
                            <a href="/exam" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor"  style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">View Exam</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="material-icons" style="font-size: 49px !important;">
                                pending
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-lg-3">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <p class="text-capitalize fw-medium text-muted text-truncate mb-0 fs-14"  style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">Exam Completed</p>
                        </div>
                        <div class="flex-shrink-0">
                            <div class="fs-14 mb-0 text-muted"><i class="fa-solid fa-circle-info align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="The total exams have already passed the end date." aria-label="The total exams have already passed the end date."></i></div>
                        </div>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mt-4">
                        <div>
                            <h4 class="fs-27 fw-bold ff-secondary mb-4">37</h4>
                            <a href="/exam" class="text-decoration-underline fw-light text-muted fs-13 hover-color-secondarycolor"  style="font-weight: normal; font-weight: lighter; font-weight: bold; font-weight: 900; ">View Exam</a>
                        </div>
                        <div class="avatar-sm flex-shrink-0">
                            <span class="material-icons" style="font-size: 49px !important;">
                                check_circle_outline
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-capitalize fw-medium text-muted text-truncate mb-3 fs-14">Monthly Average Performance</p>
                    </div>
                    <div class="p-0 p-sm-3">
                        <div id="monthlyAveragePerformanceChart-spinner" class="spinner d-flex justify-content-center align-items-center text-center color-primarycolor py-5">
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; Loading... </strong>
                        </div>
                        <div id="monthlyAveragePerformanceChart-nodata" class="text-center text-muted py-5 d-none"><div><i class="fa-regular fa-face-dizzy fs-40"></i></div><div>No Data Available</div></div>
                        <canvas id="monthlyAveragePerformanceChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-capitalize fw-medium text-muted text-truncate mb-3 fs-14">Top 5 Questions Answered Wrongly</p>
                    </div>
                    <div class="p-0 p-sm-3">
                        <div id="questionsAnsweredWronglyChart-spinner" class="spinner d-flex justify-content-center align-items-center text-center color-primarycolor py-5">
                            <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; Loading... </strong>
                        </div>
                        <div id="questionsAnsweredWronglyChart-nodata" class="text-center text-muted py-5 d-none"><div><i class="fa-regular fa-face-dizzy fs-40"></i></div><div>No Data Available</div></div>
                        <canvas id="questionsAnsweredWronglyChart"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="flex-grow-1 overflow-hidden">
                        <p class="text-capitalize fw-medium text-muted text-truncate mb-3 fs-14">Top 5 Upcoming Exams</p>
                    </div>
                    <div class="p-0 p-sm-3">
                        <div class="text-center text-muted py-5"><div><i class="fa-regular fa-face-dizzy fs-40"></i></div><div>No Data Available</div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 mt-4">
            <div class="card card-animate border-0 shadow">
                <div class="card-body p-4">
                    <div class="d-flex flex-row justify-content-between align-items-center mb-3">
                        <div class="col-6 text-capitalize fw-medium text-muted text-truncate fs-14">Top 10 Students By Exam</div>
 
                    </div>
                    <div class="p-0 p-sm-3">
                        <div class="mt-1">
                            <div id="topStudentsByExam-spinner" class="spinner d-flex justify-content-center align-items-center text-center color-primarycolor py-5">
                                <div class="spinner-border ml-auto" role="status" aria-hidden="true"></div><strong> &nbsp; Loading... </strong>
                            </div>
                            <div id="topStudentsByExam-nodata" class="text-center text-muted py-5 d-none"><div><i class="fa-regular fa-face-dizzy fs-40"></i></div><div>No Data Available</div></div>
                            <canvas id="topStudentsByExam"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
        
<script src="~/Scripts/Home/Index.js"></script>


   @section FooterSection{
       @Html.Partial("_FooterView")
    }


 
