
@{
    ViewBag.Title = "AddExam";
    Layout = "~/Views/Shared/_XtremeLayout.cshtml";
}

@section SideBarSection{
    @Html.Partial("_SideBarView")
}

@section HeaderSection{
    @Html.Partial("_HeaderView")
}
<style>
    .nav-tabs .nav-item .nav-link.active {
        background-color: hsl(0deg 0% 0% / 20%);
        transition: background-color .3s .2s;
    }
    .nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
        border: 0 !important;
        color: #df4040 !important;
        font-weight: 500;
    }
</style>
<div class="col-12">
    <div style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item fw-normal"><a class="color-primarycolor opacity-50" href="~/OESUsers/Index">Exam Management</a></li>
            <li class="breadcrumb-item fw-normal active">Add Exam</li>
        </ol>
    </div>

</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Edit Exam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted opacity-50">Add Question</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted opacity-50">Arrange Question Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted opacity-50">Allocate Marks</a>
    </li>
</ul>
<div class="col-12">
    <form action="/exam/edit" class="form-horizontal" enctype="multipart/form-data" method="post" role="form" novalidate="novalidate">
        <input id="Id" name="Id" type="hidden" value="">        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <h2 class="fs-20 fw600">Exam Information</h2>
            <div class="mb-4">Kind Reminder: Please double-check all exam details prior to the exam's start date and time to avoid errors while the student is taking the exam.</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Name">Name</label>
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Field is required." id="Name" name="Name" type="text" value="">
                            <span class="invalid-message field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Description">Description</label>
                            <textarea class="form-control" data-val="true" data-val-required="Field is required." id="Description" name="Description" rows="3"></textarea>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="StartDate">Start Date &amp; Time</label> <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Student can sit for the exam starting from this date &amp; time." aria-label="Student can sit for the exam starting from this date &amp; time."></i>
                            <div><input id="startdate" type="datetime-local" class="w-100 form-control" name="StartDateIsoString" value=""></div>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="StartDate" data-valmsg-replace="true"></span>
                            <input type="text" class="invisible" id="startdate-utc" data-val="true" data-val-required="Field is required." name="StartDateIsoUtc" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="EndDate">End Date &amp; Time</label> <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="This is the due date for the student to start the exam. After this date &amp; time, student will be unable to take the exam." aria-label="This is the due date for the student to start the exam. After this date &amp; time, student will be unable to take the exam."></i>
                            <div><input id="enddate" type="datetime-local" class="w-100 form-control" name="EndDateIsoString" value=""></div>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="EndDate" data-valmsg-replace="true"></span>
                            <input type="text" class="invisible" id="enddate-utc" data-val="true" data-val-required="Field is required." name="EndDateIsoUtc" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Duration">Duration (minute)</label> <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Duration (in minute) given to a student to complete the exam. Once the student clicks the &quot;Start Exam&quot; button, the exam will begin counting down from this duration value." aria-label="Duration (in minute) given to a student to complete the exam. Once the student clicks the &quot;Start Exam&quot; button, the exam will begin counting down from this duration value."></i>
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Field is required." id="Duration" name="Duration" type="number" value="">
                            <span class="invalid-message field-validation-valid" data-valmsg-for="Duration" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="MarksToPass">Marks To Pass</label>
                            <input class="form-control text-box single-line" data-val="true" data-val-number="The field Marks To Pass must be a number." data-val-required="Field is required." id="MarksToPass" max="100" min="0.01" name="MarksToPass" step=".01" type="number" value="">
                            <span class="invalid-message field-validation-valid" data-valmsg-for="MarksToPass" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <label class="form-label required fw600" for="ClassIdList">Class</label> <a class="color-secondarycolor fs-12 hover-color-primarycolor" href="/class/edit" target="_blank">Create New</a>
                        <div>
                            <div class="choices" data-type="select-multiple" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" dir="ltr">
                                <div class="choices__inner"><select class="multichoice choices__input is-hidden" for="ClassIdList" id="ClassIdList" multiple="multiple" name="ClassIdList" placeholder="Select multiple..." tabindex="-1" aria-hidden="true" data-choice="active"></select><div class="choices__list choices__list--multiple"></div><input type="text" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Select multiple..." style="width: 132px;"></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox" aria-multiselectable="true">
                                        <div class="choices__item choices__item--choice choices__item--selectable is-highlighted" data-select-text="Press to select" data-choice="" data-id="1" data-value="252cc663-0dc6-49c4-ad4b-2fd873505e4e" data-choice-selectable="" id="choices--ClassIdList-item-choice-1" role="option" aria-selected="true">
                                            c++
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="2" data-value="d72f69e1-0505-4e11-bb37-a8e53cfb3347" data-choice-selectable="" id="choices--ClassIdList-item-choice-2" role="option">
                                            Cm1
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="3" data-value="9a5000f3-0deb-49d6-8154-9f36ccea0028" data-choice-selectable="" id="choices--ClassIdList-item-choice-3" role="option">
                                            Devops
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="4" data-value="c0b42b60-cf5c-4b3f-bbd2-3cc7dc605ac4" data-choice-selectable="" id="choices--ClassIdList-item-choice-4" role="option">
                                            F#
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="5" data-value="d7fdb7b4-91c0-4763-99a9-c07a9019c935" data-choice-selectable="" id="choices--ClassIdList-item-choice-5" role="option">
                                            jain
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="6" data-value="ec705ea1-11e6-455b-b384-151ac23d0374" data-choice-selectable="" id="choices--ClassIdList-item-choice-6" role="option">
                                            newa
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="7" data-value="47ea5e34-9ea5-4c11-a267-142e30247fbf" data-choice-selectable="" id="choices--ClassIdList-item-choice-7" role="option">
                                            Project Management
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="8" data-value="e1aac0d1-4213-431b-9538-c808daf12ef6" data-choice-selectable="" id="choices--ClassIdList-item-choice-8" role="option">
                                            SSC
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="9" data-value="d6f1e0de-d2ed-4aa2-b250-2bd6bbd2248f" data-choice-selectable="" id="choices--ClassIdList-item-choice-9" role="option">
                                            teerm101
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="invalid-message field-validation-valid" data-valmsg-for="ClassIdList" data-valmsg-replace="true"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <label class="form-label required fw600" for="SubjectIdList">Subject</label> <a class="color-secondarycolor fs-12 hover-color-primarycolor" href="/subject/edit" target="_blank">Create New</a>
                        <div>
                            <div class="choices" data-type="select-multiple" role="combobox" aria-autocomplete="list" aria-haspopup="true" aria-expanded="false" dir="ltr">
                                <div class="choices__inner"><select class="multichoice choices__input is-hidden" for="SubjectIdList" id="SubjectIdList" multiple="multiple" name="SubjectIdList" placeholder="Select multiple..." tabindex="-1" aria-hidden="true" data-choice="active"></select><div class="choices__list choices__list--multiple"></div><input type="text" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Select multiple..." style="width: 132px;"></div><div class="choices__list choices__list--dropdown" aria-expanded="false">
                                    <div class="choices__list" dir="ltr" role="listbox" aria-multiselectable="true">
                                        <div class="choices__item choices__item--choice choices__item--selectable is-highlighted" data-select-text="Press to select" data-choice="" data-id="1" data-value="86e7a997-6118-4d70-ba2a-55386a265ec2" data-choice-selectable="" id="choices--SubjectIdList-item-choice-1" role="option" aria-selected="true">
                                            asdasdasd
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="2" data-value="a4d37da2-6368-4b22-9eb7-f7fedbfd62ed" data-choice-selectable="" id="choices--SubjectIdList-item-choice-2" role="option">
                                            C#
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="3" data-value="5e067236-a3f6-4b16-a565-6e180ce4ecd7" data-choice-selectable="" id="choices--SubjectIdList-item-choice-3" role="option">
                                            Computers
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="4" data-value="1a9c7062-aa80-4414-9b71-2368b322ebc4" data-choice-selectable="" id="choices--SubjectIdList-item-choice-4" role="option">
                                            ddd
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="5" data-value="222aac45-0f8d-4ed1-a68e-13c8d4397e14" data-choice-selectable="" id="choices--SubjectIdList-item-choice-5" role="option">
                                            Hindi
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="6" data-value="bb7711c8-cf29-4b17-8b41-e9d0b4e7adfd" data-choice-selectable="" id="choices--SubjectIdList-item-choice-6" role="option">
                                            Islamia University BWP
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="7" data-value="6a09ddac-b925-41b4-8e60-2bed0fae4f93" data-choice-selectable="" id="choices--SubjectIdList-item-choice-7" role="option">
                                            jain 1
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="8" data-value="299c6d95-348b-42ae-bae5-60b29735eaf8" data-choice-selectable="" id="choices--SubjectIdList-item-choice-8" role="option">
                                            levelTestEnglish
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="9" data-value="3a21a09f-1f32-4b6d-97a0-1d2fa16b93b7" data-choice-selectable="" id="choices--SubjectIdList-item-choice-9" role="option">
                                            Math
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="10" data-value="961dfd8b-9839-4780-a8c7-2cc0e8daa101" data-choice-selectable="" id="choices--SubjectIdList-item-choice-10" role="option">
                                            Math111
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="11" data-value="eb438a1a-05af-4f54-8f97-408b7eb0340b" data-choice-selectable="" id="choices--SubjectIdList-item-choice-11" role="option">
                                            Mathematique
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="12" data-value="35f6e03d-f8ee-470b-9b71-347894813472" data-choice-selectable="" id="choices--SubjectIdList-item-choice-12" role="option">
                                            MI PRUEBA
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="13" data-value="43991d10-75fc-4686-8887-ae217ab9f94d" data-choice-selectable="" id="choices--SubjectIdList-item-choice-13" role="option">
                                            MVC
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="14" data-value="fde640b0-8ab0-47e6-afe5-15cb87e8247d" data-choice-selectable="" id="choices--SubjectIdList-item-choice-14" role="option">
                                            Operational Research
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="15" data-value="e558ae33-1555-45f6-9b51-ab443410d665" data-choice-selectable="" id="choices--SubjectIdList-item-choice-15" role="option">
                                            PHYSICS
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="16" data-value="a1f4073c-b8d9-40cb-9278-0830e143926f" data-choice-selectable="" id="choices--SubjectIdList-item-choice-16" role="option">
                                            PM Preparatory Training
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="17" data-value="6ddc30a0-fa87-4c6c-a17c-6f3d1b8943ea" data-choice-selectable="" id="choices--SubjectIdList-item-choice-17" role="option">
                                            programming
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="18" data-value="87b18761-2943-427f-9f7c-e9a391a5dca6" data-choice-selectable="" id="choices--SubjectIdList-item-choice-18" role="option">
                                            programming2
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="19" data-value="51c7b140-0d85-4140-a7a9-f1d99015b028" data-choice-selectable="" id="choices--SubjectIdList-item-choice-19" role="option">
                                            Qual seu nome?
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="20" data-value="88bf05c3-1367-4f48-a7ea-24df93114224" data-choice-selectable="" id="choices--SubjectIdList-item-choice-20" role="option">
                                            SAFETY
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="21" data-value="2921ca50-6a12-4172-81ea-407b02a7f9c5" data-choice-selectable="" id="choices--SubjectIdList-item-choice-21" role="option">
                                            T1
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="22" data-value="83cabeca-cdbb-491c-9255-a18b621b78f8" data-choice-selectable="" id="choices--SubjectIdList-item-choice-22" role="option">
                                            test eslam
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="23" data-value="a7f6fbf9-b83b-413c-8ebe-6fb1059d6dbd" data-choice-selectable="" id="choices--SubjectIdList-item-choice-23" role="option">
                                            teste
                                        </div><div class="choices__item choices__item--choice choices__item--selectable" data-select-text="Press to select" data-choice="" data-id="24" data-value="9fc72d0d-6620-467e-8b9e-74e3ed81a5b4" data-choice-selectable="" id="choices--SubjectIdList-item-choice-24" role="option">
                                            الباب الاول
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <span class="invalid-message field-validation-valid" data-valmsg-for="SubjectIdList" data-valmsg-replace="true"></span>
                    </div>
                </div>
            </div>
            <hr class="my-5 text-muted">
            <h2 class="fs-20 fw600 mt-2 mb-4">Exam Settings</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="RandomizeQuestions">Randomize Questions</label>
                            <div>
                                <div class="form-check form-check-inline"><input checked="checked" class="form-check-input" for="RandomizeQuestions-Yes" id="RandomizeQuestions-Yes" name="RandomizeQuestions" type="radio" value="true"><label class="form-check-label" for="RandomizeQuestions-Yes">Yes</label></div>
                                <div class="form-check form-check-inline"><input class="form-check-input" for="RandomizeQuestions-No" id="RandomizeQuestions-No" name="RandomizeQuestions" type="radio" value="false"><label class="form-check-label" for="RandomizeQuestions-No">No</label></div>
                            </div>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="RandomizeQuestions" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="IsActive">Active/Inactive</label>
                            <div class="select-wrapper"><div class="select"><input class="custom-option" for="IsActive" hidden="hidden" id="IsActive" name="IsActive" value="Active"><div class="select__trigger"><span>Active</span><div class="arrow"><i class="fa-solid fa-caret-down"></i></div></div><div class="custom-options"><span class="custom-option" data-text="all" data-value="" value="">Please Select...</span><span class="custom-option selected" data-text="Active" data-value="Active" value="Active">Active</span><span class="custom-option" data-text="Inactive" data-value="Inactive" value="Inactive">Inactive</span></div></div></div>
                            <input id="ActiveInactiveSelectlist" name="ActiveInactiveSelectlist" type="hidden" value="System.Collections.Generic.List`1[Microsoft.AspNetCore.Mvc.Rendering.SelectListItem]">
                            <span class="invalid-message field-validation-valid" data-valmsg-for="IsActive" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="ReleaseAnswer">Display Answer to Student?</label> <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="When a student clicks &quot;exit,&quot; should the question and answer be displayed to the student? We recommend selecting &quot;No&quot; for now. After you finish reviewing all the students' results, you can change this to &quot;yes&quot; so that the students can study the questions and answers." aria-label="When a student clicks &quot;exit,&quot; should the question and answer be displayed to the student? We recommend selecting &quot;No&quot; for now. After you finish reviewing all the students' results, you can change this to &quot;yes&quot; so that the students can study the questions and answers."></i>
                            <div>
                                <div class="form-check form-check-inline"><input class="form-check-input" for="ReleaseAnswer-Yes" id="ReleaseAnswer-Yes" name="ReleaseAnswer" type="radio" value="true"><label class="form-check-label" for="ReleaseAnswer-Yes">Yes</label></div>
                                <div class="form-check form-check-inline"><input checked="checked" class="form-check-input" for="ReleaseAnswer-No" id="ReleaseAnswer-No" name="ReleaseAnswer" type="radio" value="false"><label class="form-check-label" for="ReleaseAnswer-No">No</label></div>
                            </div>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="ReleaseAnswer" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">

                <a class="btn form-btn btn-secondary hover-boxshadow me-1" href="/exam">Back To List</a>
                <span class="btn form-btn btn-secondary hover-boxshadow me-1 text-muted opacity-50" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="You cannot publish the exam now as it doesn't have any questions, or, some questions have not yet saved their answers, or you have not yet allocated the marks for each question.">Publish Exam</span>
                <button id="saveBtn" type="button" class="btn form-btn btn-primary hover-boxshadow">Save</button>
                <button id="submitBtn" type="submit" hidden=""></button>

                <div class="modal fade" id="confirmPublishModal" tabindex="-1" aria-labelledby="confirmPublishModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-0 pt-4">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0 pb-4">
                                <div class="mt-2 text-center">
                                    <i class="fa-solid fa-triangle-exclamation color-secondarycolor fs-64"></i>
                                    <div class="mt-3 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4 class="fs-22 fw600">Are you sure to publish this exam?</h4>
                                        <p class="fs-15 text-muted mx-3 mb-0 pt-1">After publishing the exam, your student will see this exam appear as their upcoming exam. They can start the exam once the exam's Start Date &amp; Time have been reached.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-3">
                                    <button type="button" class="btn form-btn btn-secondary hover-boxshadow" data-bs-dismiss="modal">No, Cancel</button>
                                    <a class="btn form-btn btn-primary hover-boxshadow" href="/exam/publish">Yes, Publish Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="confirmUnPublishModal" tabindex="-1" aria-labelledby="confirmUnPublishModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-0 pt-4">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0 pb-4">
                                <div class="mt-2 text-center">
                                    <i class="fa-solid fa-triangle-exclamation color-secondarycolor fs-64"></i>
                                    <div class="mt-3 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4 class="fs-22 fw600">Are you sure to unpublish this exam?</h4>
                                        <p class="fs-15 text-muted mx-3 mb-0 pt-1">All students will be forced to stop taking the exam if you click this. After you click "unpublish", all the students will not be able to continue the exam until you publish it again.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-3">
                                    <button type="button" class="btn form-btn btn-secondary hover-boxshadow" data-bs-dismiss="modal">No, Cancel</button>
                                    <a class="btn form-btn btn-primary hover-boxshadow" href="/exam/unpublish">Yes, Unpublish Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8OJ0N0MQ0flFiaYaawsus7Oi58pg0z6MdcrRppSyiHQuOgFdkwp-Xia-u0DKQHuvfw3O_lTZWaYhcp7YKAh0EsMuXXm_zU03LqWZIh0BoFYnJwYR_QQoNXQib7k2dQ9Sodg8-xx1yXDM5D1fwp2klUIoKDHvqBl47bUI4IxAqoe036UKGyCGndokZyIpPD-C1w">
    </form>
</div>

    @section FooterSection{
        @Html.Partial("_FooterView")
    }
