
@{
    ViewBag.Title = "AddExam";
    Layout = "~/Views/Shared/_XtremeLayout.cshtml";
}

@section SideBarSection{
    @Html.Partial("_SideBarView")
}

@section HeaderSection{
    @Html.Partial("_HeaderView")
}
<style>
    .nav-tabs .nav-item .nav-link.active {
        background-color: hsl(0deg 0% 0% / 20%);
        transition: background-color .3s .2s;
    }
    .nav-tabs .nav-item .nav-link, .nav-tabs .nav-item .nav-link:focus, .nav-tabs .nav-item .nav-link:hover {
        border: 0 !important;
        color: #df4040 !important;
        font-weight: 500;
    }
</style>
<div class="col-12">
    <div style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item fw-normal"><a class="color-primarycolor opacity-50" href="~/OESUsers/Index">Exam Management</a></li>
            <li class="breadcrumb-item fw-normal active">Add Exam</li>
        </ol>
    </div>

</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Edit Exam</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted opacity-50">Add Question</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted opacity-50">Arrange Question Order</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-muted opacity-50">Allocate Marks</a>
    </li>
</ul>
<div class="col-12">
    <form action="/exam/edit" class="form-horizontal" enctype="multipart/form-data" method="post" role="form" novalidate="novalidate">
        <input id="Id" name="Id" type="hidden" value="">        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <h2 class="fs-20 fw600">Exam Information</h2>
            <div class="mb-4">Kind Reminder: Please double-check all exam details prior to the exam's start date and time to avoid errors while the student is taking the exam.</div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Name">Name</label>
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Field is required." id="Name" name="Name" type="text" value="">
                            <span class="invalid-message field-validation-valid" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Description">Description</label>
                            <textarea class="form-control" data-val="true" data-val-required="Field is required." id="Description" name="Description" rows="3"></textarea>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="Description" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="StartDate">Start Date &amp; Time</label> <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Student can sit for the exam starting from this date &amp; time." aria-label="Student can sit for the exam starting from this date &amp; time."></i>
                            <div><input id="startdate" type="datetime-local" class="w-100 form-control" name="StartDateIsoString" value=""></div>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="StartDate" data-valmsg-replace="true"></span>
                            <input type="text" class="invisible" id="startdate-utc" data-val="true" data-val-required="Field is required." name="StartDateIsoUtc" value="">
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="EndDate">End Date &amp; Time</label> <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="This is the due date for the student to start the exam. After this date &amp; time, student will be unable to take the exam." aria-label="This is the due date for the student to start the exam. After this date &amp; time, student will be unable to take the exam."></i>
                            <div><input id="enddate" type="datetime-local" class="w-100 form-control" name="EndDateIsoString" value=""></div>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="EndDate" data-valmsg-replace="true"></span>
                            <input type="text" class="invisible" id="enddate-utc" data-val="true" data-val-required="Field is required." name="EndDateIsoUtc" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Duration">Duration (minute)</label> <i class="fa-solid fa-circle-info text-info" data-bs-toggle="tooltip" data-bs-placement="right" title="" data-bs-original-title="Duration (in minute) given to a student to complete the exam. Once the student clicks the &quot;Start Exam&quot; button, the exam will begin counting down from this duration value." aria-label="Duration (in minute) given to a student to complete the exam. Once the student clicks the &quot;Start Exam&quot; button, the exam will begin counting down from this duration value."></i>
                            <input class="form-control text-box single-line" data-val="true" data-val-required="Field is required." id="Duration" name="Duration" type="number" value="">
                            <span class="invalid-message field-validation-valid" data-valmsg-for="Duration" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="MarksToPass">Marks To Pass</label>
                            <input class="form-control text-box single-line" data-val="true" data-val-number="The field Marks To Pass must be a number." data-val-required="Field is required." id="MarksToPass" max="100" min="0.01" name="MarksToPass" step=".01" type="number" value="">
                            <span class="invalid-message field-validation-valid" data-valmsg-for="MarksToPass" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="btn-group">
                            <label class="form-label required fw600" for="Name">Subject</label>
                            <button type="button" class="btn btn-sm btn-secondary Classclass dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">Maths</a>
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">English</a>
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">Computer Science</a>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="btn-group">
                            <label class="form-label required fw600" for="Name">Class</label>
                            <button type="button" class="btn btn-sm btn-secondary Classclass dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">Class-I</a>
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">Class-II</a>
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">Class-III</a>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="my-5 text-muted">
            <h2 class="fs-20 fw600 mt-2 mb-4">Exam Settings</h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="btn-group">
                            <label class="form-label required fw600" for="Name">Randomiz Exam</label>
                            <button type="button" class="btn btn-sm btn-secondary Classclass dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">Yes</a>
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">No</a>
                            


                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3 text-break">
                        <div class="btn-group">
                            <label class="form-label required fw600" for="Name">Status</label>
                            <button type="button" class="btn btn-sm btn-secondary Classclass dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">Active</a>
                                <a class="dropdown-item" href="#" onclick="updateClassSelectedValue(this)">InActive</a>
                           


                            </div>
                        </div>
                    </div>
                </div>
     
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-12">

                <a class="btn form-btn btn-secondary hover-boxshadow me-1" href="/exam">Back To List</a>
                <span class="btn form-btn btn-secondary hover-boxshadow me-1 text-muted opacity-50" data-bs-toggle="tooltip" data-bs-placement="top" title="" data-bs-original-title="You cannot publish the exam now as it doesn't have any questions, or, some questions have not yet saved their answers, or you have not yet allocated the marks for each question.">Publish Exam</span>
                <button id="saveBtn" type="button" class="btn form-btn btn-primary hover-boxshadow">Save</button>
                <button id="submitBtn" type="submit" hidden=""></button>

                <div class="modal fade" id="confirmPublishModal" tabindex="-1" aria-labelledby="confirmPublishModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-0 pt-4">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0 pb-4">
                                <div class="mt-2 text-center">
                                    <i class="fa-solid fa-triangle-exclamation color-secondarycolor fs-64"></i>
                                    <div class="mt-3 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4 class="fs-22 fw600">Are you sure to publish this exam?</h4>
                                        <p class="fs-15 text-muted mx-3 mb-0 pt-1">After publishing the exam, your student will see this exam appear as their upcoming exam. They can start the exam once the exam's Start Date &amp; Time have been reached.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-3">
                                    <button type="button" class="btn form-btn btn-secondary hover-boxshadow" data-bs-dismiss="modal">No, Cancel</button>
                                    <a class="btn form-btn btn-primary hover-boxshadow" href="/exam/publish">Yes, Publish Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="confirmUnPublishModal" tabindex="-1" aria-labelledby="confirmUnPublishModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header border-0 pt-4">
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body border-0 pb-4">
                                <div class="mt-2 text-center">
                                    <i class="fa-solid fa-triangle-exclamation color-secondarycolor fs-64"></i>
                                    <div class="mt-3 pt-2 fs-15 mx-4 mx-sm-5">
                                        <h4 class="fs-22 fw600">Are you sure to unpublish this exam?</h4>
                                        <p class="fs-15 text-muted mx-3 mb-0 pt-1">All students will be forced to stop taking the exam if you click this. After you click "unpublish", all the students will not be able to continue the exam until you publish it again.</p>
                                    </div>
                                </div>
                                <div class="d-flex gap-2 justify-content-center mt-4 mb-3">
                                    <button type="button" class="btn form-btn btn-secondary hover-boxshadow" data-bs-dismiss="modal">No, Cancel</button>
                                    <a class="btn form-btn btn-primary hover-boxshadow" href="/exam/unpublish">Yes, Unpublish Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <input name="__RequestVerificationToken" type="hidden" value="CfDJ8OJ0N0MQ0flFiaYaawsus7Oi58pg0z6MdcrRppSyiHQuOgFdkwp-Xia-u0DKQHuvfw3O_lTZWaYhcp7YKAh0EsMuXXm_zU03LqWZIh0BoFYnJwYR_QQoNXQib7k2dQ9Sodg8-xx1yXDM5D1fwp2klUIoKDHvqBl47bUI4IxAqoe036UKGyCGndokZyIpPD-C1w">
    </form>
</div>

    @section FooterSection{
        @Html.Partial("_FooterView")
    }
