
@{
    ViewBag.Title = "AddQuestions";
    Layout = "~/Views/Shared/_XtremeLayout.cshtml";
}

@section SideBarSection{
    @Html.Partial("_SideBarView")
}

@section HeaderSection{
    @Html.Partial("_HeaderView")
}

 
<div class="col-12">
    <div style="--bs-breadcrumb-divider: '>';">
        <ol class="breadcrumb m-0">
            <li class="breadcrumb-item fw-normal"><a class="color-primarycolor opacity-50" href="/question">Question Management</a></li>
            <li class="breadcrumb-item fw-normal active">Add Question</li>
        </ol>
    </div>
     
</div>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Add Question</a>
    </li>
</ul>
<div class="col-12">
    <form action="/services/Xtreme/multipart" method="post" id="frmAddUpdateQuestion">
        @*<input type="hidden" name="UserId" id="UserId" value="" />*@
        <input type="hidden" name="QuestionID" id="QuestionID" value="" />

        <input type="hidden" name="type" id="type" value="OES_Add_Question" />
        <div class="bg-white rounded p-3 p-lg-4 p-xl-5 shadow">
            <div class="row">
                <div class="col-md-12">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="QuestionTitle">Question Title</label>
                            <textarea class="form-control" id="QuestionTitle" name="QuestionTitle" rows="3"></textarea>
                            <span class="invalid-message field-validation-valid" data-valmsg-for="QuestionTitle" data-valmsg-replace="true"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Role">Subject</label>
                            <input id="Subject" name="Subject" />
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Role">Question Type</label>
                            <input id="QuestionType" name="QuestionType" />
                        </div>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-3 text-break">
                        <div class="form-group">
                            <label class="form-label required fw600" for="Status">Status</label>
                            @*<input id="Status" name="Status" />*@
                            <select id="Status" name="Status"></select>
                        </div>

                    </div>
                </div>
            </div>
        
            @*<div class="row">
                    <div class="col-md-6">
                        <div class="mb-3 text-break">
                            <div class="form-group">
                                <label class="form-label fw600" for="ImageFile">Question Image</label>
                                <input accept="image/*" class="form-control" id="ImageFile" name="ImageFile" type="file">
                                <span class="invalid-message field-validation-valid" data-valmsg-for="ImageFile" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                    </div>
                </div>*@
        </div>
        <div class="row mt-4">
            <div class="col-12">
                <a type="button" class="btn form-btn btn-secondary hover-boxshadow me-1" href="/question">Back To List</a>
                <button type="button" id="btnAddQuestion" class="btn form-btn btn-primary hover-boxshadow">
                    <span>Save &amp; Next</span>
                </button>
            </div>
        </div>
    </form>
</div>
<script src="~/Scripts/OESQuestionBank/OESAddQuestion.js"></script>
    @section FooterSection{
        @Html.Partial("_FooterView")
    }

